<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>face001</key>
	<string>[微笑]</string>
	<key>face002</key>
	<string>[郁闷]</string>
	<key>face003</key>
	<string>[色]</string>
	<key>face004</key>
	<string>[呆]</string>
	<key>face005</key>
	<string>[得意]</string>
	<key>face006</key>
	<string>[流泪]</string>
	<key>face007</key>
	<string>[害羞]</string>
	<key>face008</key>
	<string>[闭嘴]</string>
	<key>face009</key>
	<string>[睡]</string>
	<key>face010</key>
	<string>[哭了]</string>
	<key>face011</key>
	<string>[怒]</string>
	<key>face012</key>
	<string>[生气]</string>
	<key>face013</key>
	<string>[调皮]</string>
	<key>face014</key>
	<string>[哈哈]</string>
	<key>face015</key>
	<string>[吃惊]</string>
	<key>face016</key>
	<string>[难过]</string>
	<key>face017</key>
	<string>[酷]</string>
	<key>face018</key>
	<string>[寒]</string>
	<key>face019</key>
	<string>[宝宝]</string>
	<key>face020</key>
	<string>[吐]</string>
	<key>face021</key>
	<string>[偷笑]</string>
	<key>face022</key>
	<string>[可爱]</string>
	<key>face023</key>
	<string>[白眼]</string>
	<key>face024</key>
	<string>[馋]</string>
	<key>face025</key>
	<string>[花痴]</string>
	<key>face026</key>
	<string>[困]</string>
	<key>face027</key>
	<string>[给力]</string>
	<key>face028</key>
	<string>[大笑]</string>
	<key>face029</key>
	<string>[献花]</string>
	<key>face030</key>
	<string>[流汗]</string>
	<key>face031</key>
	<string>[奋斗]</string>
	<key>face032</key>
	<string>[咒骂]</string>
	<key>face033</key>
	<string>[疑问]</string>
	<key>face034</key>
	<string>[嘘]</string>
	<key>face035</key>
	<string>[晕]</string>
	<key>face036</key>
	<string>[折磨]</string>
	<key>face037</key>
	<string>[衰]</string>
	<key>face038</key>
	<string>[外星人]</string>
	<key>face039</key>
	<string>[生病了]</string>
	<key>face040</key>
	<string>[再见]</string>
	<key>face041</key>
	<string>[糗大了]</string>
	<key>face042</key>
	<string>[纠结]</string>
	<key>face043</key>
	<string>[鼓掌]</string>
	<key>face044</key>
	<string>[挖鼻孔]</string>
	<key>face045</key>
	<string>[坏笑]</string>
	<key>face046</key>
	<string>[左嘘嘘]</string>
	<key>face047</key>
	<string>[右嘘嘘]</string>
	<key>face048</key>
	<string>[无聊]</string>
	<key>face049</key>
	<string>[鄙视]</string>
	<key>face050</key>
	<string>[委屈]</string>
	<key>face051</key>
	<string>[囧]</string>
	<key>face052</key>
	<string>[奸笑]</string>
	<key>face053</key>
	<string>[MUA]</string>
	<key>face054</key>
	<string>[吓!?]</string>
	<key>face055</key>
	<string>[可怜]</string>
	<key>face056</key>
	<string>[烧香]</string>
	<key>face057</key>
	<string>[刷牙]</string>
	<key>face058</key>
	<string>[浮云]</string>
	<key>face059</key>
	<string>[给跪了]</string>
	<key>face060</key>
	<string>[想蹭饭]</string>
	<key>face061</key>
	<string>[献殷勤]</string>
	<key>face062</key>
	<string>[摆阔]</string>
	<key>face063</key>
	<string>[陶醉]</string>
	<key>face064</key>
	<string>[爱]</string>
	<key>face065</key>
	<string>[猪头]</string>
	<key>face066</key>
	<string>[小G]</string>
	<key>face067</key>
	<string>[蛋糕]</string>
	<key>face068</key>
	<string>[四叶草]</string>
	<key>face069</key>
	<string>[便便]</string>
	<key>face070</key>
	<string>[咖啡]</string>
	<key>face071</key>
	<string>[礼物]</string>
	<key>face072</key>
	<string>[心碎]</string>
	<key>face073</key>
	<string>[心]</string>
	<key>face074</key>
	<string>[苹果]</string>
	<key>face075</key>
	<string>[NO]</string>
	<key>face076</key>
	<string>[赞]</string>
	<key>face077</key>
	<string>[give me five!]</string>
	<key>face078</key>
	<string>[耶]</string>
	<key>face079</key>
	<string>[拳头]</string>
	<key>face080</key>
	<string>[差劲]</string>
	<key>face081</key>
	<string>[闪电]</string>
</dict>
</plist>
